body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png');
  }
  
  /*Login-Page Style Start*/
  
  .topnav {
    overflow: hidden;
    background: linear-gradient(#f9ad29, black);
    line-height: 40px;
  }
  
  .topnav img {
    width: 75px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25rem;
  }
  
  .center {
    position: relative;
    top: 150px;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 400px;
    
  }
  
  .center h1 {
    text-align: center;
    padding: 20px;
    color: white;
  }
  .btn{
      position: absolute;
      top: 300px;
      left: 550px;
  }
  .gif{
    position: absolute;
    top: 400px;
    left: 500px;
  }
  .topr{
    position: absolute;
    left: 1200px;
    top: 30px;
   
  }
  /* media query */
@media screen and (max-width: 768px) {
  .main_box{
      flex-direction:column;
  }
  .main_box .left{
      width: 100%;
  }
  .main_box .right{
      width: 100%;
  }
  .h1{
    width: 100%;
  }
  .body{
    width: 100%;
  }
  .center{
    position:absolute;
    margin: 10px 10px;
    
  }
  .gif{
    position: absolute;
    left: 20px;
  }
  .btn{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 60px;
    top: 100px;
  }
  .btn button{
    margin:50px 20px 5px 40px;
  }
  .topr{
    position: absolute;
    left: 220px;
    top: 80px;
  }
  .gif img{
    width: 300px;
    height: 150px;
  }
}
  
