body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /*Login-Page Style Start*/
  
  .topnav {
    overflow: hidden;
    background: linear-gradient(#f9ad29, black);
    line-height: 40px;
  }
  
  .topnav img {
    width: 75px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25rem;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
  
  .center h1 {
    text-align: center;
    padding: 20px;
  }
  
  .center form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  form .text_field {
    position: relative;
    border-bottom: 2px solid #000;
    margin: 30px 0;
  }
  
  .text_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .text_field label {
    position: absolute;
    top: 50%;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
  }
  
  .text_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    height: 2px;
    background: #f9ad29;
    transition: 0.5s;
  }
  
  .text_field input:focus ~ label,
  .text_field input:valid ~ label {
    top: -5px;
    color: #f9ad29;
  }
  
  .text_field input:focus ~ span::before,
  .text_field input:valid ~ span::before {
    width: 100%;
  }
  
  a.submit_button {
    color:#000;
    text-align: center;
    text-decoration: none;
    margin-left: 40%;
    border: 2px solid #f9ad29;
    font-weight: bolder;
  }
  
  /*Login-Page Style Ends*/
  
  /*Admin-Page Style Ends*/
  
  .admin-container{
    margin-left:10rem;
    margin-right:10rem;
  }
  
  /*Admin-Page Style Ends*/
  